@font-face {
  font-family: "Geist Pages";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./geist-latin.woff2") format("woff2");
}

:root {
  --font-geist-sans: "Geist Pages";
}
